<div class="w3-container w3-padding-32" id="projects">
  <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Projects</h3>
</div>

<div class="w3-row-padding">
  <div class="w3-col l3 m6 w3-margin-bottom" onclick="document.getElementById('id01').style.display='block'">
    <div class="w3-display-container">
      <div class="w3-display-topleft w3-black w3-padding">Summer House</div>
      <img src="http://via.placeholder.com/250x150" alt="House" style="width:100%">
    </div>
  </div>
  <div class="w3-col l3 m6 w3-margin-bottom" onclick="document.getElementById('id02').style.display='block'">
    <div class="w3-display-container">
      <div class="w3-display-topleft w3-black w3-padding ">Brick House</div>
      <img src="http://via.placeholder.com/250x150" alt="House" style="width:100%">
    </div>
  </div>
  <div class="w3-col l3 m6 w3-margin-bottom" onclick="document.getElementById('id03').style.display='block'">
    <div class="w3-display-container">
      <div class="w3-display-topleft w3-black w3-padding">Renovated</div>
      <img src="http://via.placeholder.com/250x150" alt="House" style="width:100%">
    </div>
  </div>
  <div class="w3-col l3 m6 w3-margin-bottom" onclick="document.getElementById('id04').style.display='block'">
    <div class="w3-display-container">
      <div class="w3-display-topleft w3-black w3-padding">Barn House</div>
      <img src="http://via.placeholder.com/250x150" alt="House" style="width:100%">
    </div>
  </div>
</div>

<div class="w3-row-padding">
  <div class="w3-col l3 m6 w3-margin-bottom" onclick="document.getElementById('id05').style.display='block'">
    <div class="w3-display-container">
      <div class="w3-display-topleft w3-black w3-padding">Summer House</div>
      <img src="http://via.placeholder.com/250x150" alt="House" style="width:99%">
    </div>
  </div>

  <div class="w3-col l3 m6 w3-margin-bottom" onclick="document.getElementById('id06').style.display='block'">
    <div class="w3-display-container">
      <div class="w3-display-topleft w3-black w3-padding">Brick House</div>
      <img src="http://via.placeholder.com/250x150" alt="House" style="width:99%">
    </div>
  </div>
  <div class="w3-col l3 m6 w3-margin-bottom" onclick="document.getElementById('id07').style.display='block'">
    <div class="w3-display-container">
      <div class="w3-display-topleft w3-black w3-padding">Renovated</div>
      <img src="http://via.placeholder.com/250x150" alt="House" style="width:99%">
    </div>
  </div>
  <div class="w3-col l3 m6 w3-margin-bottom" onclick="document.getElementById('id08').style.display='block'">
    <div class="w3-display-container">
      <div class="w3-display-topleft w3-black w3-padding">Barn House</div>
      <img src="http://via.placeholder.com/250x150" alt="House" style="width:99%">
    </div>
  </div>
</div>

<!-- The Modal -->
<div id="id01" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
      <img src="http://via.placeholder.com/400x400" style="width:100%; height:80vh;" >
    </div>
  </div>
</div>
<!-- The Modal -->
<div id="id02" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-display-topright">&times;</span>
      <img src="http://via.placeholder.com/400x400" style="width:100%; height:80vh;" >
    </div>
  </div>
</div>

<!-- The Modal -->
<div id="id03" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('id03').style.display='none'" class="w3-button w3-display-topright">&times;</span>
      <img src="http://via.placeholder.com/400x400" style="width:100%; height:80vh;" >
    </div>
  </div>
</div>

<!-- The Modal -->
<div id="id04" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('id04').style.display='none'" class="w3-button w3-display-topright">&times;</span>
      <img src="http://via.placeholder.com/400x400" style="width:100%; height:80vh;" >
    </div>
  </div>
</div>

<!-- The Modal -->
<div id="id05" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('id05').style.display='none'" class="w3-button w3-display-topright">&times;</span>
      <img src="http://via.placeholder.com/400x400" style="width:100%; height:80vh;" >
    </div>
  </div>
</div>

<!-- The Modal -->
<div id="id06" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('id06').style.display='none'" class="w3-button w3-display-topright">&times;</span>
      <img src="http://via.placeholder.com/400x400" style="width:100%; height:80vh;" >
    </div>
  </div>
</div>

<!-- The Modal -->
<div id="id07" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('id07').style.display='none'" class="w3-button w3-display-topright">&times;</span>
      <img src="http://via.placeholder.com/400x400" style="width:100%; height:80vh;"> </div>
  </div>
</div>

<!-- The Modal -->
<div id="id08" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('id08').style.display='none'" class="w3-button w3-display-topright">&times;</span>
      <img src="http://via.placeholder.com/400x400" style="width:100%; height:80vh;">
    </div>
  </div>
</div>