<div class="w3-container w3-padding-32" id="projects">
  <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Projects</h3>
</div>

<div class="w3-row-padding">
  <div class="w3-col l3 m6 w3-margin-bottom" onclick="document.getElementById('id01').style.display='block'">
    <div class="w3-display-container">
      <div class="w3-display-topleft w3-black w3-padding">Treehouse Fixer Upper</div>
      <img src="https://drive.google.com/uc?export=view&id=1owoHQuUm8WDQXokjTGv8F_w7PboLz3rx" id="projicon" alt="House" style="width:100%">
    </div>
  </div>
  <div class="w3-col l3 m6 w3-margin-bottom" onclick="document.getElementById('id02').style.display='block'">
    <div class="w3-display-container">
      <div class="w3-display-topleft w3-black w3-padding ">Closet to Wall Niche</div>
      <img src="https://drive.google.com/uc?export=view&id=1LhuYUytc5MX9cUVEG1Vzdms4dXJhi4xm" alt="House" style="width:100%">
    </div>
  </div>
  <div class="w3-col l3 m6 w3-margin-bottom" onclick="document.getElementById('id03').style.display='block'">
    <div class="w3-display-container">
      <div class="w3-display-topleft w3-black w3-padding">Mother In-Law Suite</div>
      <img src="https://drive.google.com/uc?export=view&id=1APIkfgAc5oUUhZZpWjlmXLtGc74MRwF3  " alt="House" style="width:100%">
    </div>
  </div>
  <div class="w3-col l3 m6 w3-margin-bottom" onclick="document.getElementById('id04').style.display='block'">
    <div class="w3-display-container">
      <div class="w3-display-topleft w3-black w3-padding">Historic Building Update</div>
      <img src="https://drive.google.com/uc?export=view&id=198JzZ5Qj6pHQwoTr-_-POOHSGaVAivTe" alt="House" style="width:100%">
    </div>
  </div>
</div>

<!-- Disabled until working carosel-modal is created -->
<!-- The Modal -->
<!-- <div id="id01" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
      <img src="http://via.placeholder.com/400x400" style="width:100%; height:80vh;" >
    </div>
  </div>
</div> -->
<!-- The Modal -->
<!-- <div id="id02" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-display-topright">&times;</span>
      <img src="http://via.placeholder.com/400x400" style="width:100%; height:80vh;" >
    </div>
  </div>
</div> -->

<!-- The Modal -->
<!-- <div id="id03" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('id03').style.display='none'" class="w3-button w3-display-topright">&times;</span>
      <img src="http://via.placeholder.com/400x400" style="width:100%; height:80vh;" >
    </div>
  </div>
</div> -->

<!-- The Modal -->
<!-- <div id="id04" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('id04').style.display='none'" class="w3-button w3-display-topright">&times;</span>
      <img src="http://via.placeholder.com/400x400" style="width:100%; height:80vh;" >
    </div>
  </div>
</div> -->