<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
    <img class="w3-image" id="coverphoto" src="https://drive.google.com/uc?export=view&id=18qe3RoBH1ozwox-_JuYPbY8PN9RTBnfx" alt="Architecture" width="1500" height="800">
    <div class="w3-display-middle w3-margin-top w3-center">
      <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>Sonrise</b></span> <span class="w3-text-light-grey">Services</span></h1>
    </div>
  </header>
  
  
