<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button">
      <b>Sonrise</b> Services</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button">About |</a>
      <a href="#projects" class="w3-bar-item w3-button">Our Services |</a>
      <a href="#projects" class="w3-bar-item w3-button">Our Work |</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact Us |</a>
    </div>
    <a class="icon w3-bar-item" (click)="SidebarVar=2">
      <strong>&#9776;</strong>
    </a>
  </div>
</div>

<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-border-right" id="mySidebar"  *ngIf="SidebarVar === 2">
    <button (click)="SidebarVar=1" class="w3-bar-item w3-large">Close &times;</button>
    <span>
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="#services" class="w3-bar-item w3-button">Services</a>
      <a href="#projects" class="w3-bar-item w3-button">Projects</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact Us</a>
    </span>
  </div>