<div class="w3-container w3-padding-32" id="about">
  <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About Us</h3>
  <p>Meet the owner - Your DFW local:</p>

  <div class="w3-row w3-center">
    <br>

    <div class="w3-half">
      <img src="https://drive.google.com/uc?export=view&id=1FRJwEz4dOLx8Qxgmc4IXiT63XopjkzT-" alt="Boss" style="width:45%"
        class="w3-circle w3-hover-opacity">
      <h3>Justin Godsey</h3>
      <p>Founder</p>
    </div>

    <div class="w3-half" id="about-text">
      <p>"Like a lantern illuminating darkness," our goal is to restore the trust of homeowners who have been deceived by previous
        contractors. Justin created Sonrise Services on the foundation of his Christian faith.His passion for constructing
        and improving spaces around him began in his childhood. Today, his prestigious workmanship and keen eye for design
        and efficiency show in his efforts for the Home Improvement industry. Sonrise Services operates in the Dallas-Fort
        Worth metroplex in Texas, bringing customer satisfaction and reasonable prices to all.
        <br>
        <br>
        <span id="quote" style="text-align: left;">
          Let your light shine before others, that they may see your good deeds, and glorify your Father in heaven. <br>-Matthew 5:16
        </span>
      </p>
    </div>


  </div>
</div>