<div class="w3-container w3-padding-32" id="services">
  <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Our Services</h3>
  <p>Some of the services we offer:</p>

<div class="w3-center table" style="width:70vw; margin:0 auto;">
  <div class="w3-row w3-center">
    <div class="w3-col l3 w3-center">
      <hr id="table-hr">
      <i class="fas fa-bomb"></i> Demolition
    </div>

    <div class="w3-col l3 w3-center" id="about-text">
      <hr id="table-hr">
      <i class="fas fa-home"></i> Framing

    </div>

    <div class="w3-col l3 w3-center" id="about-text">
      <hr id="table-hr">
      <i class="fas fa-bolt"></i> Electrical
    </div>
  </div>
  <div class="w3-row w3-center">

    <div class="w3-col l3 w3-center">
      <hr id="table-hr">
      <i class="fas fa-tint"></i> Plumbing
    </div>

    <div class="w3-col l3 w3-center" id="about-text">
      <hr id="table-hr">
      <i class="material-icons insulation">view_day</i> Insulation
    </div>

    <div class="w3-col l3 w3-center" id="about-text">
      <hr id="table-hr">
      <i class="material-icons">layers</i> Drywall
    </div>
  </div>
  <div class="w3-row w3-center">


    <div class="w3-col l3 w3-center">
      <hr id="table-hr">
      <i class="fas fa-door-open"></i> Door
    </div>

    <div class="w3-col l3 w3-center" id="about-text">
      <hr id="table-hr">
      <i class="far fa-square"></i> Trim carpentry
    </div>

    <div class="w3-col l3 w3-center" id="about-text">
      <hr id="table-hr">
      <i class="fas fa-square-full tile1"></i>
      <i class="fas fa-square-full tile2"></i> Tile

    </div>
  </div>
  <div class="w3-row w3-center">


    <div class="w3-col l3 w3-center">
      <hr id="table-hr">
      <i class="fas fa-layer-group"></i> Flooring
    </div>

    <div class="w3-col l3 w3-center" id="about-text">
      <hr id="table-hr">
      <i class="fas fa-paint-roller"></i> Painting
    </div>

    <div class="w3-col l3 w3-center" id="about-text">
      <hr id="table-hr">
      <i class="fa fa-bars"></i> Fences
    </div>
  </div>

</div>