.table{
    font-size: 1.5em;
    font-weight: bold;
}



#table-hr {
    margin-left: 5%;
    margin-right: 5%;
    border-color: black;

}

#table-head-hr{
    border-color: black;
}
.fa-bomb{
    color: red;
}

.fa-home{
    color: purple;
}

.fa-bolt {
    color:yellow;
}

.fa-tint {
    color: blue;
}   

.fa-door-open {
    color:rgb(104, 29, 11);
}

.fa-layer-group {
    color: brown;
}

.fa-paint-roller{
    color: grey;
}

.fa-bars {
    color: 	#8B0000;
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    transform:rotate(-90deg);
}

.insulation {
    color: pink;
}
.material-icons{
    font-size: 1.3em;    
}
.fa-square {
    color: lightslategray
}

.tile1{
    color: black
}
.tile2 {
    color: grey;
}